<app-terminal></app-terminal>
<div class="volume">
  <button class="mute-btn" (click)="toggleAudio()">
    @if(audioService.isPlaying()) {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      class="icon"
    >
      <path
        d="M300.78-165.52v-628.96L795.61-480 300.78-165.52Zm106-314.48Zm0 121L597-480 406.78-601v242Z"
      />
    </svg>
    } @else {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      class="icon"
    >
      <path
        d="M519.43-165.52v-628.96h275.05v628.96H519.43Zm-353.91 0v-628.96h275.05v628.96H165.52Zm459.92-106h63.04v-416.96h-63.04v416.96Zm-353.92 0h63.04v-416.96h-63.04v416.96Zm0-416.96v416.96-416.96Zm353.92 0v416.96-416.96Z"
      />
    </svg>
    }
  </button>
</div>
<div class="scene" [class.debug]="debug">
  <!-- Capa fondo -->
  <img class="bg" [src]="airportImg" alt="aeropuerto" />

  <!-- Avión animado -->
  <div class="plane" [style.backgroundImage]="'url(' + planeImg3 + ')'"></div>
  <div
    class="plane2"
    style="transform: scaleX(-1)"
    [style.backgroundImage]="'url(' + planeImg2 + ')'"
  ></div>

  <!-- Capa superior con máscara y guías -->
  <div class="overlay">
    <svg
      #svgEl
      class="vectors"
      [attr.viewBox]="'0 0 ' + viewBox.w + ' ' + viewBox.h"
      preserveAspectRatio="xMidYMid slice"
      aria-hidden="true"
    >
      <defs>
        <!-- Formas reutilizables: los vidrios -->
        <g id="panes">
          <rect
            *ngFor="let p of panes"
            [attr.x]="p.x"
            [attr.y]="p.y"
            [attr.width]="p.w"
            [attr.height]="p.h"
          />
        </g>

        <!-- Máscara en coordenadas del viewBox -->
        <mask
          id="ventanas-mask"
          maskUnits="userSpaceOnUse"
          maskContentUnits="userSpaceOnUse"
          x="0"
          y="0"
          [attr.width]="viewBox.w"
          [attr.height]="viewBox.h"
        >
          <!-- Blanco = visible -->
          <rect x="0" y="0" [attr.width]="viewBox.w" [attr.height]="viewBox.h" fill="white" />
          <!-- Vidrios en negro = se "abren huecos" -->
          <use href="#panes" fill="black" />
        </mask>
      </defs>

      <!-- Imagen superior DENTRO del SVG -->
      <image
        class="overlay-img"
        [attr.href]="airportImg"
        x="0"
        y="0"
        [attr.width]="viewBox.w"
        [attr.height]="viewBox.h"
        [attr.mask]="debug ? null : 'url(#ventanas-mask)'"
        preserveAspectRatio="xMidYMid slice"
      ></image>

      <!-- Guías (mismo espacio que la máscara) -->
      <g class="guides" [attr.opacity]="debug ? 1 : 0">
        <use href="#panes" class="guide-shapes"></use>

        <!-- Etiquetas -->
        <ng-container *ngFor="let p of panes; let i = index">
          <text [attr.x]="p.x + p.w / 2" [attr.y]="p.y - 8" text-anchor="middle" class="guide-text">
            {{ p.w | number : '1.0-0' }} px
          </text>
          <text [attr.x]="p.x + 10" [attr.y]="p.y + 20" font-weight="bold" class="guide-label">
            {{ p.label || i + 1 }}
          </text>
        </ng-container>
      </g>
    </svg>
  </div>
</div>
